footer
{
	height: 20vmin;
	padding-top: 3vmin;
	padding-bottom: 3vmin;
	font-weight: lighter;
	font-size: 2vmin;
}
address
{
	line-height: 1.2;
}
#footer-CN
{
	height: 100%;
	stroke: white;
}
#footer-links
{
	width: 68%;
	float: right;
}
#footer-contacts
{
	text-align: center;
	line-height: 3.0;
}
#footer-social
{
	padding-top: 2.8vmin;
	text-align: right;
	float: right;
	line-height: 3.0;
}
#footer-copyright
{
	width: 100%;
	text-align: center;
}
#developed-by
{
	width: 100%;
	font-size: 2vmin;
	text-align: center;
}
footer a
{
	color: white;
}
footer a:hover
{
	background: white;
	color: #222;
}

