/*******************/
/*     HEADER      */
/*******************/
header
{
	height: 100svh;
	padding-top: calc(42vh - 11.5vmin / 2);
}
#logo-CN
{
	width: 11.5vmin;
	height: 11.5vmin;
	stroke-width: 2;
}
#logo-arch-studio
{
	/* This element is 6.75 times wider than its font-size */
	font-size: calc(11.5vmin * 0.852);
	font-family: Quicksand, Helvetica, sans-serif;
	line-height: 1.2;
	margin: 0;
}
#logo-C
{
	stroke-dasharray: 79;
}
#logo-N
{
	stroke-dasharray: 124;
}
#whoiam
{
	width: 100%;
	font-size: 2.5vmin;
	text-align: center;
}
#arrow-down
{
	width: 6vmin;
	position: absolute;
	left: calc(50% - 3vmin);
	bottom: 1vmin;
	cursor: pointer;
	animation: fade-in 3s linear 1.5s backwards, bounce 0.5s ease-out infinite alternate;
}
@keyframes bounce  { from { transform: translateY(0); } to { transform: translateY(-2vmin); } }

/*******************/
/*      MAIN       */
/*******************/
article
{
	margin-top: 2vmin;
	margin-bottom: 2vmin;
}
h2
{
	font-weight: bold;
}
/*******************/
/*      PAGER      */
/*******************/
#pager
{
	width: 100%;
	padding-bottom: 10vmin;
	text-align: center;
}
page
{
	color: #444;
	font-weight: lighter;
	font-size: 2vmin;
	padding-left: 2vmin;
	padding-right: 2vmin;
	cursor: pointer;
}
page:hover
{
	background: #000;
	color: #FFF;
}
page.active
{
	color: #000;
	font-weight: bold;
}
page.active:hover
{
	background: #FFF;
	color: #000;
	cursor: auto;
}

