:root
{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
}
html, body, header, main
{
	width: 100%;
	margin: 0;
}
header, main
{
	box-sizing: border-box;
	padding-left: calc(50vw - 40vmin);
	padding-right: calc(50vw - 40vmin);
}
header, main, h1, h2, a, span, svg
{
	float: left;
}
h1, h2
{
	font-weight: normal;
	line-height: 2;
	width: 100%;
	margin: 0;
}
h1
{
	color: #404040;
	font-size: 2.3vmin;
	letter-spacing: 0.31vmin;
	text-transform: uppercase;
}
h2
{
	color: #606060;
	font-size: 1.95vmin;
	letter-spacing: 0.053vmin;
}
svg
{
	fill: none;
	stroke: black;
	stroke-linecap: round;
	stroke-linejoin: round;
}
#logo
{
	margin-top: 20svh;
	margin-bottom: 2svh;
	stroke-width: 1.2;
}
main
{
	margin-top: 7vmin;
}
nav
{
	width: 100%;
	font-size: 4vmin;
}
nav span
{
	display: block;
	width: 1%;
	line-height: 1.1;
}
a
{
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: block;
	width: 23%;
	text-transform: uppercase;
	letter-spacing: 0.5vmin;
}
a:hover
{
	background: black;
	color: white;
}
nav a:first-child
{
	width: 37%;
	text-align: left;
}
nav a:last-child
{
	width: 37%;
	text-align: right;
	letter-spacing: 0.7vmin;
}

