:root
{
	font-family: Helvetica, sans-serif;
}
html
{
	scroll-behavior: smooth;
	scrollbar-width: none;
}
html, body, main, footer, img, video, iframe, figure, h1, h2, figcaption
{
	width: 100%;
	margin: 0;
}
header, main, footer
{
	box-sizing: border-box;
	padding-left: calc(50vw - 40vmin);
	padding-right: calc(50vw - 40vmin);
}
main
{
	margin-top: 1vmin;
	font-size: 2vmin;
	/* The content needs to occupy at least all the space needed to align the footer at the bottom of the viewport. */
	min-height: calc(100vh - 35vmin);
}
div, p, section, figure, img, video, iframe, svg, main, footer, article, h1, h2
{
	float: left;
}
svg
{
	fill: none;
	stroke: black;
	stroke-linecap: round;
	stroke-linejoin: round;
}
img
{
	height: auto;
}
a
{
	color: black; /* Prevent link from being blue or purple */
	text-decoration: none;
	cursor: pointer;
}
a:hover h2, figcaption a:hover
{
	text-decoration: underline;
}
a:hover img
{
	outline: 1px solid black;
}
p
{
	text-align: justify;
}
p, section, figure
{
	margin: 0;
	margin-top: 1vmin;
	margin-bottom: 1vmin;
}
#logo
{
	width: 95%; /* 100% would center the svg, but since the logo has a little disproportion on the left side it's better to have it lean a bit to the left to compensate */
	height: 10vmin;
	margin-top: 1.5vmin;
}
#logo-underline
{
	stroke: transparent;
}
#logo:hover
{
	stroke-width: 1.8;
}
#logo:hover #logo-underline
{
	stroke: black;
}
h1, h2
{
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
}
figcaption
{
	font-size: 1.7vmin;
	color: #808080;
}
